.search-add-box {
    background-color: #f0f0f0; /* leichtes Hellgrau */
    border-radius: 0px 0px 10px 10px; /* abgerundete Ecken oben */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto; /* Zentriert die Box und gibt ihr eine Breite von 95% */
  }
  
  .search-box input[type="text"] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
  }
  
  .search-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .add-customer-btn {
    background-color: #e6e6e6; /* etwas dunkleres Grau für Kontrast */
    border: 1px solid #000; /* schwarzer Rand */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  h2 {
    margin-left: 2.5%;
    margin-top: 20px; /* Gibt Abstand zwischen der grauen Box und dem Kundenverzeichnis-Text */
  }
  
  .customer-list-header {
    background-color: #d0d0d0;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
    text-align: left; /* Links ausrichten */
}

.customer-list {
    width: 95%;
    margin: 10px auto 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.customer-list a {
    color: #243668;
    text-decoration: none;
    cursor: pointer;
}

.customer-entry {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
    text-align: left; /* Links ausrichten */
}

.customer-entry:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.customer-odd {
    background-color: #f0f0f0;
}

.header-checkbox, .entry-checkbox {
    flex: 0 0 50px; /* Feste Breite für die Checkbox */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px; /* Abstand vom Rand */
    margin-right: 50px; /* Abstand rechts hinzufügen */
}

.header-id, .entry-id {
    flex: 0 0 80px; /* Feste Breite für die ID */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-name, .entry-name {
    flex: 2; /* Etwas größere Breite für den Namen */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-created, .entry-created,
.header-updated, .entry-updated,
.header-updatedby, .entry-updatedby {
    flex: 1;
    padding: 0 5px; /* Horizontaler Abstand */
    display: flex;
    justify-content: center; /* Zentriert den Text horizontal */
    align-items: center; /* Zentriert den Text vertikal */
}

.customer-entry > div {
    padding: 0 5px;
}

.customer-entry a {
    color: #243668;
    text-decoration: none;
}

  .header-container {
    display: flex;
    align-items: center;
}

.header-container h2 {
    margin-right: 10px; /* Abstand zwischen H2 und Button */
}

.refreshButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.refreshButton.rotated {
  transform: rotate(360deg);
}

.swal2-modal {
  width: 600px;
  padding: 2rem;
}

#create-customer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: 48%;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.page-item {
  margin: 0 5px;
  list-style-type: none; /* Entfernt den List-Punkt */
}

.page-item.active .page-link {
  font-weight: bold;
  text-decoration: underline;
  color: #243668; /* Blau */
  background-color: transparent;
}

.page-link {
  color: #000; /* Schwarz */
  text-decoration: none;
  padding: 5px 10px;
  border: none;
}

.modal-archived-customer-list {
  width: 100%;
  margin: 20px 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.modal-archived-customer-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #e0e0e0;
  font-weight: bold;
}

.modal-archived-customer-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.modal-archived-customer-entry:hover {
  background-color: #e9e9e9;
}

.modal-entry-id, .modal-entry-name {
  flex: 1;
  padding: 0 10px;
  text-align: left;
}

.modal-entry-id {
  font-weight: bold;
}

.modal-activate-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-activate-button:hover {
  background-color: #45a049;
}
