.search-add-box {
    background-color: #f0f0f0; /* leichtes Hellgrau */
    border-radius: 0px 0px 10px 10px; /* abgerundete Ecken oben */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto; /* Zentriert die Box und gibt ihr eine Breite von 95% */
  }
  
  .search-box input[type="text"] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
  }
  
  .search-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .add-customer-btn {
    background-color: #e6e6e6; /* etwas dunkleres Grau für Kontrast */
    border: 1px solid #000; /* schwarzer Rand */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  h2 {
    margin-left: 2.5%;
    margin-top: 20px; /* Gibt Abstand zwischen der grauen Box und dem Kundenverzeichnis-Text */
  }
  
  .customer-list-header {
    background-color: #d0d0d0; /* ein noch dunkleres Grau */
    border-radius: 10px 10px 0 0; /* abgerundete Ecken oben */
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-weight: bold;
  }
  
  .customer-list {
    width: 95%;
    margin: 10px auto 0; /* Fügt oben einen Abstand hinzu */
    border-radius: 10px; /* abgerundete Ecken unten */
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Fügt Schatten hinzu für den Effekt des Ineinanderfließens */
  }

  .customer-list a {
    color: #243668;
    text-decoration: none;
    cursor: pointer;

  }
  
  .customer-entry {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s; /* Animation für den Hover-Effekt */
  }
  
  .customer-entry:hover {
    background-color: #e6e6e6; /* Farbe beim Hover */
    cursor:pointer;
  }
  
  .customer-odd {
    background-color: #f0f0f0; /* leichtes Hellgrau für jeden zweiten Eintrag */
  }
  
  /* Stellt sicher, dass alle Spalten der Liste untereinander ausgerichtet sind */
  .customer-entry > div {
    text-align: left;
    flex: 1;
    padding: 0 5px; /* Fügt horizontalen Abstand hinzu */
  }
  
  /* Reduziert die Größe der Einträge, um Platz zu sparen */
  .customer-entry {
    padding: 5px 0;
  }

  .header-container {
    display: flex;
    align-items: center;
}

.header-container h2 {
    margin-right: 10px; /* Abstand zwischen H2 und Button */
}

.refreshButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.refreshButton.rotated {
  transform: rotate(360deg);
}

.swal2-modal {
  width: 600px;
  padding: 2rem;
}

#create-customer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: 48%;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.page-item {
  margin: 0 5px;
  list-style-type: none; /* Entfernt den List-Punkt */
}

.page-item.active .page-link {
  font-weight: bold;
  text-decoration: underline;
  color: #243668; /* Blau */
  background-color: transparent;
}

.page-link {
  color: #000; /* Schwarz */
  text-decoration: none;
  padding: 5px 10px;
  border: none;
}