/* Base styles */
body, html {
    height: 100%;
    margin: 0;
  }
  
  #sidebar {
    background: #333;
    color: white;
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure sidebar is above other content but below the top nav */
    transition: all 0.3s;
  }
  
  #sidebar.active {
    left: 0;
  }
  
  #sidebar .sidebar-header {
    padding: 20px;
    background: #555;
  }
  
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }
  
  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
    transition: 0.3s;
    text-decoration: none;
  }
  
  #sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
  }
  
  #content {
    transition: margin-left 0.3s;
    padding: 20px;
    margin-left: 250px; /* Adjusted margin to prevent overlap with sidebar */
  }
  
  /* Mobile style */
  @media (
    max-width: 768px) {
    #sidebar {
    left: -250px; /* Sidebar starts off-screen on smaller screens */
    }
    #sidebar.active {
    left: 0; /* Sidebar comes into view when active */
    }
    #content {
    padding: 20px;
    margin-left: 0; /* Content takes full width when sidebar is not active */
    }
    #content.active {
    margin-left: 250px; /* Content moves to make space for the sidebar when it's active */
    }
    .navbar-top {
        z-index: 1010; /* Higher z-index than sidebar */
      }

    }
  