html, body {
    height: 100%;
    margin: 0;
    background-color: #f4f4f4;
}
.container {
    height: 100%;
    margin: 2.5% auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    max-width: 100%; 
    padding: 20px 40px;

    
}

.container {
    width: 90%;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.admin-settings {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.user-list {
    display: flex;
    flex-direction: column;
}

.user-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    background-color: #eef;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-picture-small {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #66bb6a;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.input-group {
    position: relative;
    display: flex;
    margin-bottom: 15px; /* Adjust the margin as needed */
}

.input-with-button {
    flex-grow: 1;
    padding-right: 2.5rem; /* Adjust padding to make room for the button */
    border-radius: 4px 0 0 4px;
    border-right: none; /* Remove border to merge input and button */
}

.input-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%; /* Set the height to match the input field */
    border: 2px solid #ccc; /* Match the border of the input field */
    border-left: none; /* Remove the left border where the button meets the input */
    background-color: #243668; /* NNC Blue */
    color: white;
    border-radius: 0 4px 4px 0; /* Rounded corners on the right */
    padding: 10px; /* Adjust padding as needed */
    cursor: pointer;
}

section {
    flex: 1 1 300px; /* Grow to fill space, don't shrink, base width of 300px */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.section-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 20px;
    margin-bottom: 20px; /* Abstand zwischen den Sektionen */
}

.form-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px; /* Abstand zwischen den Formular-Elementen */
}

.form-container .form__field {
    flex-grow: 1;
    margin: 0; /* Entfernt den Margin, da Flexbox Gap verwendet wird */
}

.new-user-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    font-family: 'Arial', sans-serif;
}

.new-user-form h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.new-user-form .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.new-user-form label {
    margin-bottom: .5rem;
    color: #555;
}

.form-control {
    width: 100%;
    padding: .5rem .75rem;
    border-radius: .25rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-group input[type="checkbox"] {
    width: auto;
    height: auto;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Abstand zwischen Checkbox und Label */
}

.checkbox-group input[type="checkbox"]:checked {
    background-color: #0056b3;
    border-color: #0056b3;
}

.checkbox-group input[type="checkbox"]:checked:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.btn-primary {
    display: block;
    width: 100%;
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #004085;
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
    .checkbox-group {
        flex-direction: column;
    }

    .checkbox-item {
        flex: 1 1 100%;
    }
}

.profile-picture-container {
    text-align: center;
    margin: 20px;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #007bff;
    margin-bottom: 10px;
    cursor: pointer;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #243668;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #243668;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.form-group {
        display: flex; 
        margin-bottom: 1rem;
    }
    
    .form-group input {
        border-radius: 4px 0 0 4px;
    }
    
    .form-group button {
        border-radius: 0 4px 4px 0;
        margin: 0;
        padding: 10px 15px; 
        flex-grow: 0; 
    }

    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #243668, rgba(0, 0, 0, 0)); /* Gradient-Linie */
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    
    .form-group:not(:last-child) {
        margin-bottom: 1rem;
    }

/* Responsive Anpassungen */
@media (max-width: 768px) {
    .form-group .btn {
        padding: 6px 12px;
    }

    .form-group .form-control {
        padding-right: 2.5rem; /* Für kleinere Bildschirme den Button kleiner machen */
    }
}

.form__field input {
    width: 100%;
    border-radius: 4px 0 0 4px; /* Rundet die linke Seite der Inputs ab */
    border-right: none; /* Entfernt die rechte Border, um mit dem Button zu verschmelzen */
}
.admin-settings {
    background-color: #ffeeee; /* Light red background for admin settings */
    border-left: 5px solid #ffcccc; /* Highlight admin section */
}
.form-control, .btn {
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.form-control {
    border: 2px solid #ccc;
    border-radius: 4px;
    background: none;
}
.form-control:focus {
    border-color: #243668; /* NNC Blue */
    box-shadow: 0 0 8px rgba(36,54,104,0.2);
    outline: none;
}
.btn {
    color: white;
    background-color: #243668; /* NNC Blue */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 0 4px 4px 0;
}
.btn:hover {
    background-color: #1a2a4a;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    color: greenyellow;
}
h1, h2 {
    color: #243668; /* NNC Blue for headings */
}

@media (max-width: 768px) {
    .form-group input {
        padding-right: 50px; /* Kleinere Buttons für schmalere Ansichten */
    }
    
    .form-group .btn {
        padding: 12px 16px;
    }
}