
{% block body %}
<h1>Archivierte Kunden</h1>
<div class="modal-archived-customer-list">
    <div class="modal-archived-customer-header">
        <span>ID</span>
        <span>Name</span>
        <span>Aktion</span>
    </div>
    {% for customer in customers %}
        <div class="modal-archived-customer-entry">
            <div class="modal-entry-id">{{ customer.suchnummer }}</div>
            <div class="modal-entry-name">{{ customer.name }}</div>
            <button class="btn modal-activate-button" data-id="{{ customer.id }}">Aktivieren</button>
        </div>
    {% else %}
        <p>Keine archivierten Kunden gefunden.</p>
    {% endfor %}
</div>
{% endblock %}
<script>
</script>

