<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        /* Add your own email styles here */
    </style>
</head>
<body>
    <h1>Bitte bestätigen Sie Ihre 2FA-Anmeldung</h1>
    <p>
        <a href="{{ confirmationUrl }}">2FA-Anmeldung bestätigen</a>
    </p>
</body>
</html>